<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Pair Finder</title>
</head>
<body>
<h1>Welcome to Employee Pair Finder</h1>
<p>Find pairs of employees who have worked together on common projects for the longest period of time.</p>

<ul>
    <li><a th:href="@{/employees}">View Employees</a></li>
    <li><a th:href="@{/timelines}">View Employee Work Timelines</a></li>
    <li><a th:href="@{/pairs}">View Employee Pairs</a></li>
</ul>

</body>
</html>
